<%= button_to({ action: 'new' }, class: 'button is-rounded is-primary') do %>
  <%= svg_tag 'plus' %>
  <span><%= t('.new.title') %></span>
<% end %>
<%= button_to({ controller: 'datum/admin/table_lists', action: 'new_import', data_list_id: 'Crm::ContactImport' }, class: 'button is-light') do %>
  <%= svg_tag 'file-excel' %>
  <span><%= t('datum.admin.table_lists.new_import.title') %></span>
<% end if defined? RailsData %>
