<%= render layout: 'top_bar_left' do %>
  <div class="weui-title flex-direction-column">
    <% if params[:produce_on] %>
      <div>
        <span class="text-weight-semibold"><%= params[:produce_on] %></span>
        <span><%= params[:produce_on].to_date.to_fs(:week) if params[:produce_on].present? %></span>
      </div>
    <% elsif params[:payment_id] %>
      <div>
        <span><%= @payment.total_amount %></span>
      </div>
    <% end %>
    <div>
      <span class="text-weight-semibold"><%= @scene&.title %></span>
      <span><%= @client.name %></span>
    </div>
  </div>
  <i class="px-5"></i>
<% end %>
