<%= button_to({ action: 'edit', id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'pencil' %>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= link_to({ controller: 'cards', maintain_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'cards-blank' %>
  <span><%= t('crm.admin.cards.index.title') %></span>
<% end %>
<%= link_to({ controller: 'wallets', maintain_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'wallet' %>
  <span><%= t('crm.admin.wallets.index.title') %></span>
<% end %>
<%= link_to({ controller: 'addresses', maintain_id: model.id }, class: 'cell has-column-centered') do %>
  <i class="fa-solid fa-location-dot"></i>
  <span><%= t('crm.admin.addresses.index.title') %></span>
<% end %>
<%= link_to({ controller: 'carts', maintain_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'cart-shopping' %>
  <span><%= t('crm.admin.carts.index.title') %></span>
<% end %>
<%= link_to({ controller: 'orders', maintain_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'list-check' %>
  <span><%= t('crm.admin.orders.index.title') %></span>
<% end %>
<%= link_to({ controller: 'facilitates', maintain_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'user-ninja' %>
  <span><%= t('crm.admin.facilitates.index.title') %></span>
<% end %>
<%= link_to({ controller: 'productions', maintain_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'store' %>
  <span><%= t('crm.admin.productions.index.title') %></span>
<% end %>
