<div data-show-target="item" class="visibility-hidden">
  <%= button_to({ action: 'edit_assign', id: model.id }, aria: { label: t('.edit_assign.title') }, class: 'button is-small is-borderless') do %>
    <i class="fa-solid fa-hand-holding-usd text-success"></i>
  <% end %>
  <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'eye', class: 'icon text-info' %>
  <% end %>
  <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'pencil', class: 'icon text-link' %>
  <% end %>
  <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-borderless', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
    <%= svg_tag 'trash', class: 'icon text-danger' %>
  <% end %>
</div>
<div data-show-target="item" class="mt-2 visibility-hidden">
  <%= link_to({ controller: 'crm/admin/orders', contact_id: model.id }, aria: { label: t('.orders.index.title') }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'cart-shopping' %>
  <% end %>
  <%= link_to({ controller: 'crm/admin/addresses', contact_id: model.id }, aria: { label: t('.addresses.index.title') }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'location-dot' %>
  <% end %>
  <%= link_to({ controller: 'crm/admin/wallets', contact_id: model.id }, aria: { label: t('.wallets.index.title') }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'wallet' %>
  <% end %>
  <%= link_to({ controller: 'crm/admin/cards', contact_id: model.id }, aria: { label: t('.cards.index.title') }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'credit-card' %>
  <% end %>
  <%= link_to({ controller: 'crm/admin/productions', contact_id: model.id }, aria: { label: t('.productions.index.title') }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'store' %>
  <% end %>
</div>
