<td>
  <p>
    <% if model.name.present? %>
      <%= link_to model.name, { action: 'show', id: model.id } %>
    <% else %>
      <%= button_to({ action: 'edit', id: model.id }, class: 'size-7 text-grey') do %>
        <%= svg_tag 'pencil' %>
        <span>设置称呼</span>
      <% end %>
    <% end %>
  </p>
  <p>
    <% if model.identity.present? %>
      <%= link_to model.identity, { action: 'show', id: model.id } %>
    <% else %>
      <%= button_to({ action: 'edit', id: model.id }, class: 'size-7 text-grey') do %>
        <%= svg_tag 'pencil' %>
        <span>设置联系方式</span>
      <% end %>
    <% end %>
  </p>
</td>
<td>
  <%= link_to({ controller: 'orders', contact_id: model.id }, class: 'tags has-addons') do %>
    <span class="tag"><%= Crm::Contact.human_attribute_name(:orders_count) %></span>
    <span class="tag is-dark"><%= model.orders_count %></span>
  <% end %>
  <%= link_to({ controller: 'wallets', contact_id: model.id }, class: 'tags has-addons') do %>
    <span class="tag"><%= Crm::Contact.human_attribute_name(:wallets_count) %></span>
    <span class="tag is-dark"><%= model.wallets_count %></span>
  <% end %>
</td>
<td>
  <%= link_to({ action: 'show', id: model.id }) do %>
    <p class="family-monospace"><%= model.client_user_id %></p>
  <% end %>
</td>
<td></td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
