<div>
  <dt><%= Crm::Contact.human_attribute_name(:name) %></dt>
  <dd><%= @contact.name %></dd>
</div>
<div>
  <dt><%= Crm::Contact.human_attribute_name(:identity) %></dt>
  <dd><%= @contact.identity %></dd>
</div>
<% if defined? RailsWechat %>
  <div>
    <dt><%= Crm::Contact.human_attribute_name(:unionid) %></dt>
    <dd><%= @contact.unionid %></dd>
  </div>
<% end %>

<% if @scene %>
  <div class="box">
    <%= image_tag @scene.qrcode_data_url, class: 'image is-128x128' %>
  </div>
<% end %>

