<%= link_to({ action: 'new' }, class: 'button is-medium') do %>
  <%= svg_tag 'truck-fast' %>
  <span><%= t('.orders.new.title') %></span>
<% end %>
<%= link_to({ action: 'new_simple' }, class: 'button is-medium is-success') do %>
  <%= svg_tag 'truck-fast' %>
  <span><%= t('.orders.new_simple.title') %></span>
<% end %>
