<%= button_to({ action: 'destroy', id: model.id }, method: :delete, form: { data: { turbo_confirm: t('.destroy.confirm') }, class: 'cell has-column-centered' }) do %>
  <%= svg_tag 'trash' %>
  <span><%= t('.destroy.title') %></span>
<% end %>
<%= button_to({ action: 'edit', id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'pencil' %>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= link_to({ controller: 'maintains', action: 'show', id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'eye' %>
  <span><%= t('.show.title') %></span>
<% end %>
<%= link_to({ controller: 'cards', maintain_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'cards-bank' %>
  <span><%= t('.cards.index.title') %></span>
<% end %>
<%= link_to({ controller: 'wallets', maintain_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'wallet' %>
  <span><%= t('.wallets.index.title') %></span>
<% end %>
<%= link_to({ controller: 'addresses', maintain_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'location-dot' %>
  <span><%= t('.addresses.index.title') %></span>
<% end %>
<%= link_to({ controller: 'orders', maintain_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'list-check' %>
  <span><%= t('.orders.index.title') %></span>
<% end %>
<%= link_to({ controller: 'services', maintain_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'user-ninja' %>
  <span><%= t('.services.index.title') %></span>
<% end %>
