<td>
  <span style="width: <%= model.depth * 1.43 %>em; display: inline-block"></span>
  <% if !model.leaf? %>
    <i class="fa-solid fa-caret-down fa-fw" data-action="click->tree#collapse" style="cursor: pointer"></i>
  <% else %>
    <i class="fa-solid fa-minus fa-fw"></i>
  <% end %>
  <%= link_to model.name, { action: 'show', id: model.id } %>
</td>
<td>
  <%= image_tag model.picture.variant(resize_to_limit: [32, 32]), class: 'image is-32x32' if model.picture.attached? %>
</td>
<td><%= model.price %></td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'qrcodes', source_id: model.id }, aria: { label: t('crm.panel.qrcodes.index.title') }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-qrcode text-success"></i>
    <% end %>
    <%= link_to({ controller: 'texts', source_id: model.id }, aria: { label: t('crm.panel.texts.index.title') }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-font text-info"></i>
    <% end %>
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'circle-info', class: 'icon text-info' %>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-borderless', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
      <%= svg_tag 'trash', class: 'icon text-danger' %>
    <% end %>
  </div>
</td>