<td><%= check_box_tag 'xx', model.id, false, id: nil %></td>
<td>
  <p><%= link_to model.name, { action: 'show', id: model.id } %></p>
</td>
<td>
<% if model.client_organ %>
  <span><%= model.client_organ.name %></span>
  <span class="tag is-success">Linked</span>
<% else %>
  <%= button_to({ action: 'edit_organ', id: model.id }, class: 'button is-small is-link mb-1') do %>
    <%= svg_tag 'plus' %>
    <span class="ml-1"><%= t('.edit_organ.title') %></span>
  <% end %>
<% end %>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'edit_assign', id: model.id }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-hand-holding-usd text-success"></i>
      <span class="ml-1"><%= t('.edit_assign.title') %></span>
    <% end %>
  </div>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'eye', class: 'icon text-info' %>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-borderless', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
      <%= svg_tag 'trash', class: 'icon text-danger' %>
    <% end %>
  </div>
</td>