<tr id="tr_<%= model.id %>">
  <%= yield %>
  <td>
    <%= button_to({ action: 'show', id: model.id }, class: 'button is-small is-rounded is-info') do %>
      <%= svg_tag 'circle-info', class: 'icon text-info' %>
      <span class="ml-1"><%= t('.show.title') %></span>
    <% end %>
  </td>
</tr>
