<div class="card as-transparent">
  <div class="card-header">
    <div class="size-7">
      <%= svg_tag 'chart-line' %>
      <span class="text-grey"><%= t('crm.panel.title') %></span>
    </div>
  </div>
  <div class="card-content fixed-grid has-3-cols">
    <div class="grid">
      <%= link_to({ controller: 'crm/panel/sources' }, class: 'cell has-column-centered') do %>
        <%= svg_tag 'users', class: 'icon is-medium' %>
        <div class="text-grey size-7 mt-1"><%= t('crm.panel.sources.index.title') %></div>
      <% end %>
      <%= link_to({ controller: 'crm/panel/tags' }, class: 'cell has-column-centered') do %>
        <%= svg_tag 'tags', class: 'icon is-medium' %>
        <div class="text-grey size-7 mt-1"><%= t('crm.panel.tags.index.title') %></div>
      <% end %>
    </div>
  </div>
</div>
