<% if @cart.contact_id == model.id %>
  <div class="media">
    <div class="media-content">
      <%= yield %>
    </div>
    <div class="media-right">
      <%= svg_tag 'check', class: 'icon is-small text-success' %>
    </div>
  </div>
<% else %>
  <%= button_to({ action: 'cart_update', id: model.id }, class: 'media', form: { class: 'media' }) do %>
    <div class="media-content">
      <%= yield %>
    </div>
    <div class="media-right">
      <%= svg_tag 'ellipsis' %>
    </div>
  <% end %>
<% end %>
